
@model NewsViewModelV3
@Model IEnumerable<AuthorViewModel>
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

@{
    #region TEST
    // HttpClient _Client;
    // HttpResponseMessage response;
    // Uri baseAdress = new Uri("https://localhost:7200/api");
    // SelectList Authorlist = new SelectList(new List<AuthorViewModel>());
    // _Client = new HttpClient();
    // _Client.BaseAddress = baseAdress;
    // response = _Client.GetAsync(baseAdress + "/Author/GetAllAuthors").Result;
    // if (response.IsSuccessStatusCode)
    //{
    //	string data = response.Content.ReadAsStringAsync().Result;
    //             Authorlist = new SelectList(JsonConvert.DeserializeObject<List<AuthorViewModel>>(data));
    //}

    //var AuthorsList = TempData["Authorlist"] as IEnumerable<AuthorViewModel>;
    #endregion

    var Authors = new SelectList(TempData["data"] as IEnumerable<AuthorViewModel>,"Id","Name");

}


<form asp-action="Create" enctype="multipart/form-data">

    <div class="form-group">
    <label class="col col-form-label" asp-for="Title"></label>
    <input asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span> @*Validation Error*@
</div>  @*Title*@

<div class="form-group">
    <label class="col col-form-label" asp-for="PublicationDate"></label>
    <input asp-for="PublicationDate" class="form-control" />
    <span asp-validation-for="PublicationDate" class="text-danger"></span> @*Validation Error*@
</div>  @*Publication Date*@


<div class="form-group"> @*// Author Drop List*@

    <label class="col-form-label" asp-for="Author"></label>
    <select class="form-control" asp-for="AuthorId" asp-items="@Authors">
        <option value="@null">---Select Department---</option>
    </select>

</div>  

<div class="form-group">     @*Image*@
    <label class="col-form-label" asp-for="ImageName"></label>
    <input class="form-control" asp-for="ImageName" />
</div>


    <input type="submit" value="Submit" class="btn btn-primary"/>
    <a asp-action="Index" class="btn btn-dark">Back To List</a>
</form>

@*@section validationScriptSection {
    @*PartialView for Client Side Validation*@
   @* <partial name="_ValidationScriptsPartial" />
}**@